body{
    margin: 0;
    background-color: #d2d2d2
}

.content{
    margin-top: 50px;
}

.content .footer{
    margin-top: 10px;
}

#submitBtn {
    background-color: #140e39;
}

#donwloadBtn {
    background-color: #140e39;
    float: right;
}